<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.nsc.learningfunnymath" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnSelector"
            android:label="@string/title_activity_learn_selector"
            android:parentActivityName=".Main"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.Main" />
        </activity>
        <activity
            android:name=".GameSelector"
            android:label="@string/title_activity_game_selector"
            android:parentActivityName=".Main"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.Main" />
        </activity>
        <activity
            android:name=".Bingo"
            android:label="@string/title_activity_bingo"
            android:parentActivityName=".BingoLevelSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.BingoLevelSelector" />
        </activity>
        <activity
            android:name=".Matching"
            android:label="@string/title_activity_matching"
            android:parentActivityName=".MatchingLevelSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.MatchingLevelSelector" />
        </activity>
        <activity
            android:name=".BingoLevelSelector"
            android:label="@string/title_activity_bingo_level_selector"
            android:parentActivityName=".GameSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.GameSelector" />
        </activity>
        <activity
            android:name=".BingoScore"
            android:label="@string/title_activity_bingo_score"
            android:parentActivityName=".BingoLevelSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.BingoLevelSelector" />
        </activity>
        <activity
            android:name=".MatchingLevelSelector"
            android:label="@string/title_activity_matching_level_selector"
            android:parentActivityName=".GameSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.GameSelector" />
        </activity>
        <activity
            android:name=".MatchingScore"
            android:label="@string/title_activity_matching_score"
            android:parentActivityName=".MatchingLevelSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.MatchingLevelSelector" />
        </activity>
        <activity
            android:name=".Naming"
            android:label="@string/title_activity_naming"
            android:parentActivityName=".Main"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.Main" />
        </activity>
        <activity
            android:name=".Addition"
            android:label="@string/title_activity_addition"
            android:parentActivityName=".LearnSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.LearnSelector" />
        </activity>
        <activity
            android:name=".Subtraction"
            android:label="@string/title_activity_subtraction"
            android:parentActivityName=".LearnSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.LearnSelector" />
        </activity>
        <activity
            android:name=".Multiplication"
            android:label="@string/title_activity_multiplication"
            android:parentActivityName=".LearnSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.LearnSelector" />
        </activity>
        <activity
            android:name=".Division"
            android:label="@string/title_activity_division"
            android:parentActivityName=".LearnSelector"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.nsc.learningfunnymath.LearnSelector" />
        </activity>
    </application>

</manifest>
